<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta property="fb:app_id" content="1651866545051541">
    <meta property="og:title" content="打工仔計稅機 | 香港01 x 01數據" />
    <meta property="og:description" content="財政預算案宣布多項措施 打工仔計稅機計算來年新措施或可節省多少稅款" />
    <meta property="og:site_name" content="打工仔計稅機 | 香港01 x 01數據" />
    <meta property="og:image" content="https://datanews.hk01.com/widget/tax2021/static/img/og_image.jpg?v=201902031749" />
    <meta property="article:publisher" content="https://www.facebook.com/hk01.news/" />
    <meta property="article:author" content="https://www.facebook.com/hk01.news/" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://datanews.hk01.com/widget/tax2021/index.html" />

    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@hk01wemedia">
    <meta property="twitter:url" content="https://datanews.hk01.com/widget/tax2021/index.html">
    <meta property="twitter:description" content="財政預算案宣布多項措施 打工仔計稅機計算來年新措施或可節省多少稅款">
    <meta property="twitter:image" content="https://datanews.hk01.com/widget/tax2021/static/img/og_image.jpg?v=201902031749">

    <title>打工仔計稅機 | 香港01 x 01數據</title>
    <meta name="keywords" content="salaries tax,budget,paul chan,chan mau po,carrie,lam,calculator,government,inland department,財政預算案,香港,2019,財政司,派糖,薪俸稅,減稅,香港01,01新聞,01數據">
    <meta name="description" content="財政預算案宣布多項措施 打工仔計稅機計算來年新措施或可節省多少稅款">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="https://datanews.hk01.com/favicon.ico" />


    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="theme-color" content="#4DBA87">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="vue_pwa_tax">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#4DBA87">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>

    <!-- Tracking -->
    <script src="https://www.googletagmanager.com/gtag/js"></script>
    <script src="https://tracking-lib.hk01.com/piwik/piwik.min.js"></script>
    <script src="https://tracking-lib.hk01.com/classic-piwik/trackerClient.lastest.js"></script>
    <style>
    a {
      color: #13547a;
    }
    a:hover {
      color: #333;
    }
    #app,
    noscript * {
      /* font-family: "Microsoft YaHei", "Arial", sans-serif; */
      font-family: "Noto Sans TC", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Roboto Sans", Helvetica, Arial, sans-serif;
      text-align: center;
    }
    @media screen and (max-width: 361px) {
      html, body {
        max-width: 340px;
        max-height: 400px;
      }
    }
    </style>
  </head>
  <body>
    <noscript>
      <p>此網站需要啟用 Javascript 瀏覽。</p>
      <p>Please enable JavaScript to continue browsing.</p>
      <p><a href="https://www.hk01.com/">香港01有限公司 &copy; 2018</a></p>
    </noscript>
    <div id="app">
        <div class="text-center">
          <h1 class="heading">打工仔計稅機</h1>
          <h2>請稍片刻...</h2>
          <p>此網站需要啟用 Javascript 瀏覽。</p>
          <p>Please enable JavaScript to continue browsing.</p>
          <hr>
          <p><a href="https://www.hk01.com/">香港01有限公司 &copy; 2018</a></p>
        </div>
    </div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
